<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rozmawiator.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RozmawiatorDb" connectionString="&#xD;&#xA;         Data Source=127.0.0.1;&#xD;&#xA;         Initial Catalog=rozmawiatornew_db;&#xD;&#xA;         User id=rozmawiator;&#xD;&#xA;         Password=Hji8Sv2XJkg6QIs" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Rozmawiator.Server.Properties.Settings>
      <setting name="ServerPublicIp" serializeAs="String">
        <value>188.226.229.215</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="TimeoutSpan" serializeAs="String">
        <value>30000</value>
      </setting>
    </Rozmawiator.Server.Properties.Settings>
  </userSettings>
</configuration>